{{ form_start(form, {'attr': {'id':'review-form', 'class': 'form review-form'}}) }}
    {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.name, {'attr': {'id': 'name', 'name': 'name', 'required': 'required'}}) }}
    
    {{ form_label(form.comment, 'Message', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.comment, {'attr': {'id': 'comment', 'rows': '5', 'cols': '33'}}) }}
    <p class="label">Note</p>
    <div class="rating-form-container"  id="star-rating">
        <div class="rating">
            <input type="radio" id="star1" name="rating" value="5" />
            <label for="star1"></label>
            <input type="radio" id="star2" name="rating" value="4" />
            <label for="star2"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3"></label>
            <input type="radio" id="star4" name="rating" value="2" />
            <label for="star4"></label>
            <input type="radio" id="star5" name="rating" value="1" />
            <label for="star5"></label>
        </div>
    </div>
    <input type="submit" class="button form-button" value="Envoyer">
{{ form_end(form) }}
<div class="error-message" style="display: none;">Veuillez sélectionner une note.</div>