{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
    <h1 class="title">Contactez-nous</h1>
    <p class="main-text">
    Votre garage est actuellement 
    {% if status is same as('ouvert') %}
        <span class="span-text" style="color:rgb(12, 192, 12);">{{ status }}</span>
    {% elseif status is same as('fermé') %}
        <span class="span-text" style="color:#D92332;">{{ status }}</span>
    {% else %}
        <span class="span-text" style="color:black;">{{ status }}</span>
    {% endif %}
    </p>
    {% include 'snippets/contact_snippet.html.twig' %}
{% endblock %}
