{% extends 'base.html.twig' %}

{% block title %}Nouvelle voiture{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboardNewCar.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var addButton = document.getElementById('add-option-btn');
        var optionsContainer = document.getElementById('options-container');

        addButton.addEventListener('click', function () {
            var index = optionsContainer.children.length;
            var prototype = `{{ form_row(form.carOptions.vars.prototype)|raw }}`;
            var newField = prototype.replace(/__name__/g, index);

            var optionContainer = document.createElement('div');
            optionContainer.innerHTML = newField;
            optionsContainer.appendChild(optionContainer);
        });
    });
    </script>
{% endblock %}

{% block body %}
<div>
    <h1 class="title">Nouvelle voiture</h1>
    {{ form_start(form, {'attr': {'class': 'new-car-form'}}) }}
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_row(form.brand, {'label': 'Marque', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
            <div class="col-md-5 mb-3">
                {{ form_row(form.model, {'label': 'Modèle', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_label(form.price, 'Prix de vente', {'label_attr': {'class': 'label'}}) }}
                <div class="d-flex align-items-center">
                    {{ form_widget(form.price, {'attr': {'class': 'form-control flex-grow-1', 'required': 'required'}}) }}
                    <p class="label w-80 m-0 ml-2">€</p>
                </div>
            </div>
            <div class="col-md-5 mb-3">
                {{ form_row(form.entryIntoService, {'label': 'Mise en circulation', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_label(form.milage, 'Kilométrage', {'label_attr': {'class': 'label'}}) }}
                <div class="d-flex align-items-center">
                    {{ form_widget(form.milage, {'attr': {'class': 'form-control'}}) }}
                    <p class="label w-80 m-0 ml-2">km</p>
                </div>
            </div>
            <div class="col-md-5 mb-3">
                {{ form_row(form.fuel, {'label': 'Carburant', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_label(form.gearbox, 'Boîte de vitesse', {'label_attr': {'class': 'label'}}) }}
                {{ form_widget(form.gearbox, {'attr': {'class': 'form-control', 'id': 'gearbox', 'name': 'gearbox'}}) }}
            </div>
            <div class="col-md-5 mb-3">
                {{ form_label(form.license, 'Permis', {'label_attr': {'class': 'label'}}) }}
                {{ form_widget(form.license, {'attr': {'class': 'form-control', 'id': 'license', 'name': 'license'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_row(form.color, {'label': 'Couleur', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-5 mb-3">
                {{ form_row(form.doorsNb, {'label': 'Nombre de portes', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_row(form.seatNb, {'label': 'Nombre de places', 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-5 mb-3">
                {{ form_label(form.fiscalPower, 'Puissance fiscale', {'label_attr': {'class': 'label'}}) }}
                <div class="d-flex align-items-center">
                    {{ form_widget(form.fiscalPower, {'attr': {'class': 'form-control'}}) }}
                    <p class="label w-80 m-0 ml-2">CV</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_label(form.dinPower, 'Puissance DIN', {'label_attr': {'class': 'label'}}) }}
                <div class="d-flex align-items-center">
                    {{ form_widget(form.dinPower, {'attr': {'class': 'form-control'}}) }}
                    <p class="label w-80 m-0 ml-2">Ch</p>
                </div>
            </div>
            <div class="col-md-5 mb-3">
                {{ form_label(form.consumption, 'Consommation', {'label_attr': {'class': 'label'}}) }}
                <div class="d-flex align-items-center">
                    {{ form_widget(form.consumption, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                    <p class="label w-80 m-0 ml-2">L/100km</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_label(form.critAir, "Crit'Air", {'label_attr': {'class': 'label'}}) }}
                {{ form_widget(form.critAir, {'attr': {'class': 'form-control', 'id': 'critAir', 'name': 'critAir'}}) }}
            </div>
            <div class="col-md-5 mb-3">
                {{ form_row(form.carOptions, {'label': 'Options', 'label_attr': {'class': 'label'}}) }}
                <div>
                    <input type="text" id="new-option" name="new-option" placeholder="Nouvelle option">
                    <button type="button" id="add-option-btn" class="option-button">
                        <img src="{{ asset('svg/plus-circle-form.svg') }}" alt="Plus" class="plus-circle" />
                    </button>
                </div>
                <div id="options-container">
                    {% for optionForm in form.carOptions %}
                        {{ form_row(optionForm, {'label': false}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3 mr-3">
                {{ form_label(form.pictures, 'Photos', {'label_attr': {'class': 'label'}}) }}
                {{ form_widget(form.pictures, {'attr': {'class': 'form-control', 'id': 'pictures', 'name': 'pictures'}}) }}
            </div>
            <div class="col-md-5 mb-3"></div>
        </div>
        <div class="row">
            <div class="col-md-10">
                {{ form_row(form.description, {'label': "Texte de l'annonce", 'label_attr': {'class': 'label'}, 'attr': {'class': 'form-control', 'rows': '5'}}) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <button type="submit" class="btn btn-primary mt-3 btn-custom">Envoyer</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}