{% extends 'base.html.twig' %}

{% block title %}Nouvel avis{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/newReview.css') }}">
{% endblock %}

{% block body %}
<div class="return-button-container">
    <button class="button return-button">
        <a href="{{ path('dashboard-employe-1') }}" class="link-button">Retour</a>
    </button>
</div>
<h1 class="title">Ajouter un avis</h1>
<br>
{% include 'snippets/review_form_snippet.html.twig' %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashError in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    {{ flashError }}
</div>
{% endfor %}
{% endblock %}