{% extends 'base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/smallForm.css') }}">
{% endblock %}

{% block body %}
<div class="return-button-container">
    <button class="button return-button">
        <a href="{{ path('dashboard-admin-3') }}" class="link-button">Retour</a>
    </button>
</div>
<h1 class="title">Nouveau service</h1>
{{ form_start(form, {'attr': {'class': 'form new-service-form'}}) }}
    {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.title, {'attr': {'id': 'title', 'name': 'title', 'required': 'required'}}) }}
    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'label'}}) }}
    {{ form_widget(form.description, {'attr': {'id': 'description', 'rows': '8', 'required': 'required'}}) }}    
    <input type="submit" class="button form-button" />
{{ form_end(form) }}
{% endblock %}