{% extends 'base.html.twig' %}

{% block title %}Modérer les services{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/moderateService.css') }}">
{% endblock %}

{% block body %}
<div class="return-button-container">
    <button class="button return-button">
        <a href="{{ path('dashboard-admin-1') }}" class="link-button">Retour</a>
    </button>
</div>
<h1 class="title">Modérer les services</h1>
<div class="link-container">
    <a href="{{ path('dashboard-admin-4') }}" class="new-service-link">
        <img src="{{ asset('svg/plus-circle.svg') }}" alt="Plus" class="plus-circle" />
        <span class="new-service-text">Nouveau service</span>
    </a>
</div> 
<div class="row">
    {% for repair in repairs %}
        <div class="col-lg-3 col-md-4 col-8 service-container" data-repair-id="{{ repair.id }}">
            <h3 class="service-title box-title">{{ repair.title }}</h3>
            <input type="text" class="editInput" id="editTitle" name="title" placeholder="{{ repair.title }}" style="display:none;">
            <p class="service-text">{{ repair.description|replace({'\n': '<br>'})|raw }}</p>
            <textarea class="editInput" id="editDescription" name="description" placeholder="{{ repair.description|raw }}" rows="4" style="display:none;width:100%;margin-top:1vw;">{{ repair.description }}</textarea>
            <div class="buttons-container">
                <button type="button" class="button edit-button">Modifier</button>
                <button type="button" class="button save-button" style="display:none;">Sauvegarder</button>
                <button type="button" class="button delete-button">Supprimer</button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}