{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="title">TABLEAU DE BORD</h1>
    <div class="dashboard-container">
        <div class="dashboard">
            <button class="dashboard-button">
                <a href="{{ path('dashboard-admin-2') }}" class="dashboard-link">Nouvel Employé</a>
            </button>
            <button class="dashboard-button">
                <a href="{{ path('dashboard-admin-3') }}" class="dashboard-link">Modérer les services</a>
            </button>
        </div>
    </div>
    <p class="main-text">Le garage est actuellement :</p>
    <div class="opening-button-container">
        <form method="POST" action="{{ path('app_dashboard_admin') }}">
            {% if status is same as('ouvert') %}
            <button type="submit" name="ouvert" class="opening-button opening-button-1" style="background-color:green;">
                Ouvert
            </button>
            <button type="submit" name="fermer" class="opening-button opening-button-2" style="background-color:grey;">
                Fermer
            </button>
            {% elseif status is same as('fermé') %}
            <button type="submit" name="ouvert" class="opening-button opening-button-1" style="background-color:grey;">
                Ouvert
            </button>
            <button type="submit" name="fermer" class="opening-button opening-button-2" style="background-color:red;">
                Fermer
            </button>
            {% else %}
            <button type="submit" name="ouvert" class="opening-button opening-button-1" style="background-color:green;">
                Ouvert
            </button>
            <button type="submit" name="fermer" class="opening-button opening-button-2" style="background-color:red;">
                Fermer
            </button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}