{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/newReview.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/loadReviews.js') }}"></script>
    <script>
    // Vérifie si un message flash est présent
    {% if app.session.flashbag.peek('success') is not empty %}
    window.addEventListener('load', function() {
        document.getElementById('review-form').scrollIntoView({ behavior: 'smooth', block: 'start' });
    });
    {% endif %}
</script>

{% endblock %}

{% block body %}
<div class="home-body">
    <div class="logo-container">
        <img src="{{ asset('pictures/logo.png') }}" alt="logo" class="logo-home">
    </div>
    <h1 class="title">Bienvenue</h1>
    <h2 class="subtitle">
    Votre garage est actuellement 
    {% if status is same as('ouvert') %}
        <span style="color:rgb(12, 192, 12);">{{ status }}</span>
    {% elseif status is same as('fermé') %}
        <span style="color:#D92332;">{{ status }}</span>
    {% else %}
        <span style="color:black;">{{ status }}</span>
    {% endif %}
    </h2>
    <p class="main-text">Votre garagiste est spécialisé dans les réparations de la carosserie et de la mécanique des voitures ainsi que leur entretien régulier pour garantir leur performance et leur sécurité.</p>
    <div class="button-container">
        <a href="{{ path('contact') }}" class="button">Réservez un RDV</a>
    </div>
    <h2 class="subtitle">Nos services</h2>
    <div class="row">
    {% for repair in repairs %}
        <div class="col-md-5 col-lg-3 service-container">
            <h3 class="service-title box-title">{{ repair.title }}</h3>
            <p class="service-text">{{ repair.description|nl2br|raw }}</p>
        </div>
    {% endfor %}
    </div>
    <h2 class="subtitle">Nos voitures d'occasion</h2>
    <div class="slider-container">
        <div class="slider"></div>
    </div>
    <p class="main-text">Votre point de vente V. PARROT vous propose une sélection de voitures d’occasion toutes marques.<br>Tous nos véhicules d’occasion sont sélectionnés, contrôlés et garantis jusqu’à 24 mois kilométrage illimité.<br>Notre garage vous propose un vaste choix de berlines, SUV, breaks, monospaces, berlines, citadines, familiales, pick-up et utilitaires en motorisation essence, diesel, hybride, hybride rechargeable ou électrique avec une boîte de vitesses manuelle ou automatique. <br> Selon les disponibilités, nous pouvons proposer une sélection de véhicules d'occasion d'autres marques telles que Abarth, Alfa Romeo, Audi, BMW, DS, Honda, Hyundai, Infiniti, Isuzu, Jaguar, Kia, Lancia, Land Rover, Lexus, Maserati, Mazda, Mercedes, Mini, Mitsubishi, Nissan, Seat, Skoda, Smart, Ssangyong, Subaru, Suzuki, Tesla ou Volvo.</p>
    <div class="button-container">
        <a href="{{ path('used-car') }}" class="button">Voir tout</a>
    </div>
    <h2 class="subtitle">Avis de nos clients</h2>
    <div class="row review-container-wrapper">
    <div id="reviews-container" class="row">
        {% for review in reviews %}
            <div class="col-lg-4 col-md-6 col-12 review-item">
                <div class="review-container">
                    <div class="rate">
                        {% for i in 1..5 %}
                            {% if i <= review.rate %}
                                <span class="star yellow-star">★</span>
                            {% else %}
                                <span class="star">☆</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="review-text">{{ review.comment }}</p>
                    <p class="review-name">{{ review.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="button-container">
        <button type="button" class="button" id="load-more-button">Voir plus d'avis...</button>
    </div>
</div>
    <h2 class="subtitle">Donnez votre avis !</h2>
    {% include 'snippets/review_form_snippet.html.twig' %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashError in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashError }}
        </div>
    {% endfor %}
</div>
{% endblock %}