{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/usedCar.css') }}">
{% endblock %}

{% block body %}
    <h1 class="title">Voitures d'occasion</h1>
    <p class="main-text">Que vous soyez à la recherche d'une citadine, d'un cabriolet, d’une grande berline ou d'un SUV... Qu'il soit Diesel, Essence, Hybride ou Electrique... le garage V.Parrot vous propose un large choix d'annonces de véhicules d'occasion toutes marques. Nos voitures sont contrôlées, révisées et garanties par des professionnels de l'automobile.</p>
    {% for car in pagination %}
    <div class="used-car-container">
        <div class="used-car-picture">
            <img src="{{ asset('pictures/' ~ car.pictureNames[0]) }}" alt="photo" class="picture" />
        </div>
        <div class="used-car-description">
            <p class="text used-car-title">{{ car.brand }} {{car.model}}</p>
            <p class="text used-car-details">Mise en circulation : {{ car.entryIntoService|date('Y') }}</p>
            <p class="text used-car-details">Année : {{ car.milage }} km</p>
            <p class="text used-car-details">Carburant : {{ car.fuel }}</p>
            <br>
            <p class="text used-car-details">Prix : {{ car.price }} €</p>
            <div class="button-container">
                <button class="button form-button">
                    <a href="{{ path('used-car-description', { 'id': car.id }) }}" class="link-button">Détails</a>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
